:root {
  --image-wrapper-shadow-width: 16px;
}


.program-bios {}

.context-image,
.program {
  padding-top: 40px;
  padding-bottom: 40px;
}

.context-image__inner,
.program__header,
.program__sub-header {
  margin-right: 20px;
  margin-left: 20px;
  max-width: 1200px;
}

.context-image__inner {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  gap: 15px;
}

@media only screen and (min-width: 576px) {
  .context-image__inner {
    grid-template-rows: auto;
    grid-template-columns: 40% auto;
  }
}

@media only screen and (min-width: 992px) {
  .context-image__inner {
    gap: 25px;
    grid-template-rows: auto;
    grid-template-columns: 35% auto;
  }
}

@media (min-width: 1240px) {

  .context-image__inner,
  .program__header {
    margin-right: auto;
    margin-left: auto;
  }
}

.context-image__image-column {
  padding: var(--image-wrapper-shadow-width);
}

.context-image__image-wrapper {
  position: relative;
  width: 100%;
  /* height: 100%; */
  padding-bottom: 100%;
  border-radius: 50%;
  /* clip-path: circle(); */
  overflow: hidden;
  box-shadow:
    /* 0 0 3px 1px var(--translucent-grey), */
    0 0 8px 6px goldenrod,
    0 0 var(--image-wrapper-shadow-width) 12px gold;


    background-color: black;
}

.context-image__image-wrapper::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: "";
  box-shadow: 0 0 16px 12px black inset;
}

.context-image__image-overlay {
  position: absolute;
  right: 50%;
  bottom: 50%;
  /* calculated via js */
  /* width: 0;    */
  /* height: 0;    */
  transform: translate(50%, 50%);

  content: "";
  /* were box shadowing in both directions to prevent bleedthrough on the edge after overlay calc  */
  box-shadow:
    0 0 8px 4px black inset,
    0 0 8px 4px black;
}


.context-image__image {
  position: absolute;
  right: 50%;
  bottom: 50%;
  width: 90%;
  height: 90%;
  object-fit: contain;
  transform: translate(50%, 50%);

}



.context-image__description {
  margin-top: 0.5rem;
}

@media only screen and (min-width: 576px) {
  .context-image__description {
    margin-top: 1rem;
  }

}
